# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Local configuration files
local.properties
.env
.env.*

# Signing keys & Keystores (Android/iOS)
*.jks
*.keystore
*.key
*.pem
*.p12
*.pfx
/android/app/*.jks
/android/app/*.keystore

# iOS specific generated build configuration files
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# Symbolication & Obfuscation mappings
app.*.symbols
app.*.map.json
